.book{
    &__details{
        position: fixed;
        top:0px;
        right:0px;
        padding:30px;
        box-sizing: border-box;
        height: 100%;
        width: 400px;
        color:white;
        background: #880e4f;

    }

}