/*-----------------standards----------------*/

/*-----------------colors-------------------*/

/*-----------------fonts--------------------*/
$f-fam: 'Josefin Sans', sans-serif;
$f-slim:300;
$f-reg:400;
$f-bold:600;
